<p id="notice"><%= notice %></p>

<h1>Your Escape Bus!</h1>

<h3 class="text-muted">Your Current Location</h3>
<p>
  <strong>Address:</strong>
  <%= @location.full_street_address %>
  <%= link_to 'Edit your location', edit_location_path(@location) %>
</p>

<h3>Closest Buses</h3>


<p>
<!-- do doesnt do anything if @buses is empty -->
<% @buses.each do |bus| %>
  <strong>Route:</strong> <%= bus["ROUTE"] %> <%= bus["DIRECTION"] %><br>
  <strong>Bus Number:</strong> <%= bus["VEHICLE"] %><br>
  <strong>Next Stop:</strong> <%= bus["TIMEPOINT"] %><br><br>
<% end %>
</p>

<% if @buses.empty? %>
<p>No buses so... or
<%= link_to 'Edit your location', edit_location_path(@location) %>
</p>
<% end %>


