<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="text-center"><i class="fa fa-bus fa-4x text-center"></i></div>
    <p id="notice"><%= notice %></p>

    <h1>Your Escape Bus!</h1>
    <div id="map"></div>

    <h3 class="text-muted">Your Current Location</h3>
    <p class="text-muted">
      <strong>Address:</strong>
      <%= @location.full_street_address %>
      <%= link_to 'Edit your location.', edit_location_path(@location) %>
    </p>

    <h3>Closest Buses</h3>
    <p>
    <!-- do doesnt do anything if @buses is empty -->
    <% @buses.each do |bus| %>
      <strong>Route:</strong> <%= bus["ROUTE"] %> <%= bus["DIRECTION"] %><br>
      <strong>Bus Number:</strong> <%= bus["VEHICLE"] %><br>
      <strong>Next Stop:</strong> <%= bus["TIMEPOINT"] %><br><br>
    <% end %>
    </p>

    <% if @buses.empty? %>
      <!-- <p>Needs to go back to edit</p> -->
      <% #redirect_to edit_location_path.find(params[:id])  %>
      <p>Not really that close. Time to walk, bike, taxi, Uber, or <%= link_to 'Edit your location', edit_location_path(@location) %>.</p>
    <% end %>
   </div>
  <div class="col-sm-2"></div>
</div>

  <script>
    //changed google's code by creating mapOptions
    // set variable = to users lat/long
      var map, mapOptions;
      function initMap() {
        var userLatLng = {
          lat: <%= @location.latitude %>,
          lng: <%= @location.longitude %>
        };
        var userIcon = "<%= image_path 'beachflag.png' %>"

        // converts ruby to json/javascript
        var nearbyBuses = <%= raw @buses.to_json %>

        mapOptions = {
          center: userLatLng,
          zoom: 15
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var userMarker = new google.maps.Marker({
          position: userLatLng,
          map: map,
          animation: google.maps.Animation.DROP,
          title: 'You Are Here',
          icon: userIcon
        });

      nearbyBuses.forEach(function (element){
      var busLatLng = new google.maps.LatLng(element['LATITUDE'], element['LONGITUDE']);

      var busMarker = new google.maps.Marker({
        position: busLatLng,
        map: map,
        animation: google.maps.Animation.DROP,
        title: element['ROUTE']
        });

        var busInfo = '<div id="content">' +
                  '<h2>Bus ' + element['ROUTE'] + ' ' + element['DIRECTION'] + '</h2>' + '<div id=bodyContent>' + '<p>Next Stop:' + ' ' + element['TIMEPOINT'] + '</p>' + '</div>' + '</div>'

      var busWindow = new google.maps.InfoWindow({
        content: busInfo
      });

      google.maps.event.addListener(busMarker, 'click', function(){
        busWindow.open(map, busMarker);
      });

      });

    }
    </script>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap">
</script>



